{% extends 'layout/admin-layout.html.twig' %}

{% block descritption %}

{% endblock %}

{% block title %}
    CarManager - Ajout d'un type de financement
{% endblock %}

{% block container %}
    <section>
        <h1>Ajout d'un type de financement</h1>
        <div class="wrapper-grid-container">
            {{ form_start(form) }}
            <div class="floating-label" style="margin: 2em 0">
                {{ form_widget(form.type) }}
                {{ form_label(form.type) }}
            </div>
            <div>
                <button type="submit" class="btn btn-mout mt-2">Ajouter</button>
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}