{% extends 'layout/admin-layout.html.twig' %}

{% block descritption %}

{% endblock %}

{% block title %}
    CarManager - Ajout d'un point de ventes
{% endblock %}

{% block container %}
<section>
    <h1>Liste des points de ventes</h1>
    <div class="wrapper-grid-container">
        {% for garage in garages %}
        {{ garage.name }}
        {% endfor %}
    </div>
</section>
{% endblock %}